.option-area {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.option-area > p {
  font-weight: bold;
  width: 200px;
}
.options {
  margin-left: 20px;
}

.options > input {
  margin-left: 10px;
}
